<div class="form">
  <h2 id="registration">Movie Form</h2>
  <form [formGroup]="enterMovie" (ngSubmit)="saveMovie()">
    <div class="form-group">
      <label for="movie">Movie</label>
      <input type="text" id="movie" class="form-control" placeholder="Movie name.." name="movie" formControlName="movie" >
    </div>

    <div class="form-group">
      <label for="year">Year</label>
      <input type="text" id="year" class="form-control" placeholder="Year...." name="year" formControlName="year" >
    </div>

    <div class="form-group">
      <label for="genre">Genre</label>
      <input type="text" id="genre" class="form-control" placeholder="Genre.." name="genre" formControlName="genre" >
    </div>

    <div class="form-group">
      <label for="date">Date</label>
      <input type="text" id="date" class="form-control" placeholder="Date...." name="date" formControlName="date" >
    </div>

    <button class="btn btn-primary" type="submit" id="btn">Submit</button>
  </form>
  </div>